<div class="flex">
  <label for="username">Username:</label>
  <input
    id="username"
    name="username"
    type="text"
    value=""
  />
  <label for="password">Password:</label>
  <input
    id="password"
    name="password"
    type="password"
    value=""
  />
  <input type="submit" />
</div>