body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex > input {
  margin-bottom: 10px; 
}
